<!doctype html>
<head>
    <title>Admin - Servers</title>
    <style>
        table, th, td {
            border: 1px solid black;
        }
    </style>
</head>
<body>
    <h1><a href='/'>Home</a> | Servers</h1>
    <table>
        <tr>
            <th>Hostgroup</th>
            <th>Hostname</th>
            <th>Port</th>
            <th>Status</th>
        </tr>
        {% for server in servers %}
            <tr>
                <td>{{ server.hostgroup_id }}</td>
                <td>{{ server.hostname }}</td>
                <td>{{ server.port }}</td>
                <td>{{ server.status }}</td>
            </tr>
        {% endfor %}
    </table>
</body>
