[[source]]

url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"


[packages]

flask = "==0.12.2"
flask-mysql = "==1.4.0"
python-dotenv = "==0.8.2"


[dev-packages]



[requires]

python_version = "3.6.5"
